<!DOCTYPE html>
<html>
<head>
<script>
 src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js";
</script>

<style>

.placehold {

}

.curtain {
  opacity: 0.05 ;
}

.curtain:hover {
  opacity: 1;
}

</style>
</head>
</html>